<app-header></app-header>
	<div class="breadcrumbs">
		<section class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>About Us</h1>
				</div>
				<div class="col-md-12">
					<div class="crumbs">
						<a href="#">Home</a>
						<span class="crumbs-span">/</span>
						<span class="current">About Us</span>
					</div>
				</div>
			</div><!-- End row -->
		</section><!-- End container -->
	</div><!-- End breadcrumbs -->
	<div class="container">
					<div class="content-wrapper">
						<section class="about-us-wrapper">
							<h2>Our Story</h2>
							<div class="row margin-bottom-60"> 
								<div class="col-md-6">
									<p>We are group of inspired, self motivated beings deserving to strive for the wellness
									of the society. We are committed to preserve the serenity of humanity with utmost care. </p>
									<p>still need content of about us</p>
								</div><!-- /.col-md-6 -->

								<div class="col-md-6">
									<p>



									still need content of about us</p>

									<p>still need content of about us</p>
								</div><!-- /.col-md-6 -->
							</div><!-- /.row -->

							<h2>Our vision & mission</h2>
							<div class="row">
								<div class="col-md-12">
									<em>To create the human beings who are capable of their own prosperity and the
										prosperity of the world. </em>
								</div>
							</div>
						</section><!-- /.about-us-wrapper -->

						<section class="about-us-slider-wrapper">
							<div id="about-us-slider" class="carousel slide" data-ride="carousel">
							  <!-- Wrapper for slides -->
							  <div class="carousel-inner" role="listbox">
							    <div class="item active">
								    <div class="row">
								    	<div class="col-md-6">
								    		<img class="img-responsive" src="img/" alt="">
								    	</div>
								    	<div class="col-md-6">
									    	<div class="abt-slider-intro">
									    		<p>To kindle humanity on the earth.
 													Provide basic tools to achieve higher possibilities.
 													Large scale human service projects to restore the human potential.
 													Restore the Bharatha Samskriti (Indian science) and environment. </p>

									    		
									    	</div>
								    	</div>
								    </div>
							    </div><!-- /.item -->

							    <div class="item">
								    <div class="row">
								    	<div class="col-md-6">
								    		<img class="img-responsive" src="img/" alt="">
								    	</div>
								    	<div class="col-md-6">
									    	<div class="abt-slider-intro">
									    		<h3>What we value</h3>
									    		<p>Inclusiveness, Humanity, Perception, Skills, Time, Life.</p>
									    		<h3>What we do?</h3>
									    		<p>We conduct Yoga classes, Yoga workshops and we organize events, workshops,
												group classes, Health diagnosis camps and social activities. 
												</p>	

							    		    </div>
								    	</div>
								    </div>
							    </div><!-- /.item -->
							  </div><!-- /.carousel-inner -->

							  <!-- Controls -->
							  <a class="left carousel-control" href="#about-us-slider" role="button" data-slide="prev">
							    <i class="flaticon-arrowhead4"></i>
							    <span class="sr-only">Previous</span>
							  </a>
							  <a class="right carousel-control" href="#about-us-slider" role="button" data-slide="next">
							    <i class="flaticon-arrow437"></i>
							    <span class="sr-only">Next</span>
							  </a>
							</div>
						</section>

						<section class="team-wrapper">
							<h2 class="section-title">Our Team</h2>
							<div class="css-team">
								<div class="row">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<figure>
											<div class="css-team-avatar">
												<div class="css-overlay"></div>
												<img class="media-object img-responsive" src="img/team/" alt="Image">
												<a class="readmore" href="about-me.html"><i class="flaticon-square57"></i></a>
											</div>
											<div class="css-team-info">
											<h3 class="css-team-heading">Bobby Webb<br> <small>Chairman</small></h3>
											</div>
										</figure>
									</div><!-- /.col-md-4 -->
									<div class="col-md-4 col-sm-4 col-xs-12">
										<figure>
											<div class="css-team-avatar">
												<div class="css-overlay"></div>
												<img class="media-object img-responsive" src="img/team/" alt="Image">
												<a class="readmore" href="about-me.html"><i class="flaticon-square57"></i></a>
											</div>
											<div class="css-team-info">
											<h3 class="css-team-heading">BRYAN SOTO<br> <small>Managing Partner</small></h3>
											</div>
										</figure>
									</div><!-- /.col-md-4 -->
									<div class="col-md-4 col-sm-4 col-xs-12">
										<figure>
											<div class="css-team-avatar">
												<div class="css-overlay"></div>
												<img class="media-object img-responsive" src="img/team/" alt="Image">
												<a class="readmore" href="about-me.html"><i class="flaticon-square57"></i></a>
											</div>
											<div class="css-team-info">
											<h3 class="css-team-heading">THEODORE PARKER<br> <small>General Manager</small></h3>
											</div>
										</figure>
									</div><!-- /.col-md-4 -->
									<div class="col-md-4 col-sm-4 col-xs-12">
										<figure>
											<div class="css-team-avatar">
												<div class="css-overlay"></div>
												<img class="media-object img-responsive" src="img/team" alt="Image">
												<a class="readmore" href="about-me.html"><i class="flaticon-square57"></i></a>
											</div>
											<div class="css-team-info">
											<h3 class="css-team-heading">WALLACE JIMENEZ<br> <small>Head Of Risk Management</small></h3>
											</div>
										</figure>
									</div><!-- /.col-md-4 -->
									<div class="col-md-4 col-sm-4 col-xs-12">
										<figure>
											<div class="css-team-avatar">
												<div class="css-overlay"></div>
												<img class="media-object img-responsive" src="img/team" alt="Image">
												<a class="readmore" href="about-me.html"><i class="flaticon-square57"></i></a>
											</div>
											<div class="css-team-info">
											<h3 class="css-team-heading">ERIC RICE<br> <small>Head Of Risk Management</small></h3>
											</div>
										</figure>
									</div><!-- /.col-md-4 -->
									<div class="col-md-4 col-sm-4 col-xs-12">
										<figure>
											<div class="css-team-avatar">
												<div class="css-overlay"></div>
												<img class="media-object img-responsive" src="img/team/" alt="Image">
												<a class="readmore" href="about-me.html"><i class="flaticon-square57"></i></a>
											</div>
											<div class="css-team-info">
											<h3 class="css-team-heading">FERNANDO BLACK<br> <small>Senior Analyst</small></h3>
											</div>
										</figure>
									</div><!-- /.col-md-4 -->
								</div><!-- /.row -->
							</div><!-- /.css-team -->

							
							
						</section>

											</div><!-- /.content-wrapper -->
				</div><!-- /.container -->



<app-footer></app-footer>
