<app-header></app-header>
	<div id="wrap">

	<div class="breadcrumbs">
		<section class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>Ask Question</h1>
				</div>
				<div class="col-md-12">
					<div class="crumbs">
						<a href="#">Home</a>
						<span class="crumbs-span">/</span>
						<a href="#">Pages</a>
						<span class="crumbs-span">/</span>
						<span class="current">Ask Question</span>
					</div>
				</div>
			</div><!-- End row -->
		</section><!-- End container -->
	</div><!-- End breadcrumbs -->
	
	<section class="container main-content">
		<div class="row">
			<div class="col-md-9">
				
				<div class="page-content ask-question">
					<div class="boxedtitle page-title"><h2>Ask Question</h2></div>
					
					
					
					<div class="form-style form-style-3" id="question-submit">
						<form>
							<div class="form-inputs clearfix">
								
								
								<p>
									<label class="required">Tags</label>
									<span class="styled-select">
										<select>
											<option value="">Select a Category</option>
											<option value="1">Category 1</option>
											<option value="2">Category 2</option>
											<option value="3">Category 1</option>
											<option value="4">Category 1</option>
											<option value="5">Category 1</option>
											<option value="6">Category 1</option>
											<option value="7">Category 1</option>
											<option value="8">Category 1</option>
											<option value="9">Category 1</option>
										</select>
									</span>
									<p class="form-description">Please choose the appropriate section so easily search for your question .</p>
							
								
								<div class="clearfix"></div>
																								
							</div>
							<div id="form-textarea">
								<p>
									<label class="required">Question<span>*</span></label>
									<textarea id="question-details" aria-required="true" cols="58" rows="8"></textarea>
									<span class="form-description">Type the description thoroughly and in detail .</span>
								</p>
							</div>
							<p class="form-submit">
								<input type="submit" id="publish-question" value="Publish Your Question" class="button color small submit">
							</p>
						</form>
					</div>
				</div><!-- End page-content -->
			</div><!-- End main -->
			
		</div><!-- End row -->
	</section><!-- End container -->
</div>
	<app-footer></app-footer>